<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header>
        <a href="./private.php"> <img src="./<?php echo $user['pripic'];?>" style="float: right;"/> </a>
        <h4>欢迎来到T博客</h4>
    </header>
    <nav>
        <ul>
            <li><a href="./index.php">首页</a></li>
            <li><a href="./artadd.php">发表文章</a></li>
            <li>
                <a href="./private.php">个人管理</a></li>
            <li><a href=""></a></li>
        </ul>
    </nav>
    <div id="main">
        <div id="lside">
             <?php foreach($art as $a){ ?>
            <article >
            
                <h2><a href="art.php?art_id= <?php echo $a['art_id'];?> ">  <?php echo $a['title'];?></a></h2>
                <div class="entry_header">
                    <time><?php echo date('Y/m/d',$a['pubtime']+$maketime);?></time>
                    
                    <a > by&nbsp;<?php echo $a['nick'];?></a>
                    <a class="catlink" ><?php echo $a['catname'];?></a>
                    <a class="comment"  ><?php echo $a['comm'];?> 条评论</a>
                </div>
                 <div class="entry_content" style="font-size:20px;">
                    <p><?php echo $a['content'];?></p>  
                </div>
                <?php if($a['pic']){?>
                <div>
                   
                    <img src="./<?php echo $a['pic'];?>"  name="pic"/>
                </div>
                <?php }?>
                <div name='tags'>
                <br>
                <?php
                    
                 $tags=mSelAll($seltag.$a['art_id']); 
                foreach($tags as $tag){
                    if(trim($tag['tag'])){
                     echo "<a>"."#".$tag['tag'].' ',"</a>";
                    }   
                }   
                ?>
                
                </div>
            </article>
            <?php }?>
            <div id="pagebar">
                Pages:&nbsp;
                <?php foreach($page as $key=>$s){?>
              <!--   <a href="index.php?<?php echo $s;?>"><?php echo $key ?></a> -->
              <a href="index.php?<?php echo $s;?>"><?php echo $key ?></a>
                <?php }?>
                </div>
        </div>
        <div id="rside">
         
            <aside>
                <h4>栏目列表</h4>
                <ul>
                 <?php foreach($cats as $date) {?>
                    <li style="font-size:15px;"><a href="index.php?catname=<?php echo $date['catname'];?>"><?php echo $date['catname'];?></a>&nbsp;</li>
                 <?php }?>
                </ul>
            </aside>
            
        </div>
    </div>
    <footer>
     
    </footer>
</body>
</html>