<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/index.css">
<link rel="stylesheet" href="./css/art.css">
<style>
form {
width:30%;
margin:0 auto;
}
</style>
</head>
<body>
    <header>
        <h1 style="text-align: center;">博客登录</h1>
    </header>
    <div id="main">
        <div id="respond" class="comment-respond">
            <form action="#" method="post">
               <!--  <p>
                <input placeholder="昵称" name="nick" type="text" value="" size="30">  
                </p> -->
                <br></br>
                <br></br>
                <br></br>

                <p>
                <input placeholder="用户名" name="username" type="text" value="" size="30">
                </p>
                   <br></br>
         
                <p>
                <input placeholder="密码" name="password" type="password" value="" size="30">
                </p>
                <!--  <p>
                <input placeholder="Email" name="Email" type="text" value="" size="30">     
                </p>
                 <p>
                <input placeholder="姓名" name="name" type="text" value="" size="30">
                 </p> -->
             
                <input type="submit" value="登陆">
                <input type="button" name='注册'  value="注册" onclick="register()">
              <span style="font-size: 14;"> &nbsp;&nbsp;&nbsp;<?php echo $er;?></span>
            </form>
        </div>
    </div>
    
</body>
<script type="text/javascript">
function register(){
    window.open("./register.php");
}

</script>
</html>