<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=8.0" />
	<link type="text/css" rel="stylesheet" href='__PUBLIC__/css/TiantanMathml.css'/>
	<link type="text/css" rel="stylesheet" href='__PUBLIC__/css/teditor.css'/>
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/printer_control.css"/>
		
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-1.8.16.custom.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.scrollto.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.qtip-1.0.0-rc3.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/tiantan_ui.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/Lodop_jquery_plugin.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/printer_control.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/artDialog/artDialog.js?skin=blue" ></script>
	<title>编辑模板病历</title>
</head>

<body>
<br/>
<div class="top_manager_menu">
		当前模板名称:{$bingli_info.mingcheng} 返回管理此份模板<input type="button" id="view_muban_detail" class="quick_menu_button" value=" 返 回 " />
</div>
<div class="page">
	<if condition="$bingli_info['bingli_type']=='住院病案首页'">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/binganshouye.css" />
	<else />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/binglijilu.css" />
	</if>
	<div id="bingli_content" name="content" contenteditable="true" style="min-height:500px;">
		{$bingli_info.content}
	</div>
</div>
<script type="text/javascript">
	server_url = "{$Think.config.WEB_HOST}";
	action_url = "http://{$Think.config.WEB_HOST}/web_emr/Common/BingliEditor/saveMubanBingli";
	zhuyuan_id = "{$bingli_info.muban_id}";
	bingli_type = "{$bingli_info.muban_bingli_type}";
	muban_bingli_type = "{$bingli_info.muban_bingli_type}";
	muban_leixing = "{$bingli_info.muban_leixing}";
	muban_kebie = "{$bingli_info.muban_kebie}";
	mingcheng = "{$bingli_info.mingcheng}";
	yiyuan_id = "{$bingli_info.yiyuan_id}";
	document_name = "{$bingli_info.muban_bingli_type}";
	document_relate_table = "{$bingli_info.muban_bingli_type}";
	patient_xingming = "{$bingli_info.mingcheng}";
	
	$(function(){
		$("#view_muban_detail").click(function(){
			window.location.href="http://"+server_url+"/web_emr/MubanGuanli/showMubanDetail/muban_id/"+zhuyuan_id+"/mingcheng/"+mingcheng+"/muban_leixing/"+muban_leixing+"/muban_kebie/"+muban_kebie+"/muban_bingli_type/"+muban_bingli_type;
		});
		
		//病历编辑器各种参数
		revise = "{$Think.config.revise_mode}";
		multi_media_engine = "{$Think.config.multi_media_engine}";
		show_page_number ="{$Think.config.multi_media_engine}";
		is_auto_save = "{$Think.config.is_auto_save}";
		auto_save_interval = {$Think.config.auto_save_interval};
		printControlInitial();
	});
</script>
<if condition="$browser_type == 'ie'">
	<script type="text/javascript" src="__PUBLIC__/js/ajax_editor_ie.js" ></script>
<else />
	<script type="text/javascript" src="__PUBLIC__/js/ajax_editor.js" ></script>
</if>
</body>
</html>
