<html >

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8.0" />
	<title>操作正确-信息提示</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/system_info.css" media="all" />
</head>

<body>
	<div class="page">
		<table class="show_info">
			<tr>
				<td width="120px" class="icon"><img class="icon" src="__PUBLIC__/css/images/operation_right.gif" /></td>
				<td class="content">{$system_info}</td>
			</tr>
		</table>
		  <a id="href" href="/web_emr/System/showSystemChecked"></a>
    <br />
    等待时间： <b id="wait">3</b>
	</div>
</body>
   <script type="text/javascript">
   
 
   function countInstances(mainStr, subStr)
  {
    var count = 0;
    var offset = 0;
    do
    {
      offset = mainStr.indexOf(subStr, offset);
      if(offset != -1)
      {
        count++;
        offset += subStr.length;
      }
    }while(offset != -1)
    return count;
  }

	type="{$_SERVER["HTTP_REFERER"]}";
    mainurl="{$_SESSION["server_url"]}";
	num=countInstances(type,"/");

       (function(){
    var wait = document.getElementById('wait');
    var interval = setInterval(function(){
		var time = --wait.innerHTML;
		if(time <= 0) {
			location.href ="{$_SERVER["HTTP_REFERER"]}";
		    clearInterval(interval);
    };
    }, 400);
    })();
	

  
    </script>
</html>
